/* font import=================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* common css================================================================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.top-bg {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
}

section,
header {
  width: 80%;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  margin: 0 auto;
  padding-top: 40px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  section,
  header {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
  }
}
/* nav=================================================================================== */
header nav {
  display: flex;
  justify-content: space-between;
}
header h3 {
  font-weight: 700;
  font-size: 45px;
}
header ul {
  display: flex;
}

header a:hover {
  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.55);
  color: rgb(255, 166, 0);
}
header a {
  text-transform: capitalize;
  transition: 0.45s;
  font-weight: 500;
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
  color: #424242;
}

.banner button:hover {
  color: #ff900e;
  background-color: transparent;

  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.55);
}
/* nav responsiv============================================================== */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
  nav ul {
    margin-top: 30px;
    /* padding-bottom: 10px; */
    gap: 1px;
    justify-content: space-between;
  }
  header h3 {
    font-size: 30px;
  }
  header a {
    border-bottom: 1px solid #424242;
    width: 25%;
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
  }
}

/* banner=============================================================================================== */

.banner {
  text-align: center;
}

.banner h1 {
  font-weight: 700;
  font-size: 64px;
}

.banner p {
  margin: 35px auto;

  font-weight: 400;
  font-size: 16px;
  width: 60%;
  color: #727272;
}
.banner button {
  transition: 0.5s;
  width: 180px;
  height: 64px;
  border: 0;

  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
}
.banner img {
  margin-top: 70px;
  width: 100%;
}
/* banner responsiv================================== */

@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 35px;
  }
  .banner p {
    margin: 20px auto;

    font-weight: 400;
    font-size: 12px;
    width: 100%;
  }

  .banner button {
    border-radius: 6px;
    font-size: 14px;
    width: 120px;
    height: 44px;
  }

  .banner img {
    margin-top: 30px;
  }
}

/* features=================================================================================== */
.features {
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
}
.features .txt {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features button:hover {
  color: #ff900e;
  background-color: transparent;

  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.55);
}
.features button {
  transition: 0.5s;
  width: 180px;
  height: 64px;
  border: 0;

  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
}

.features .imgs {
  display: grid;
  width: 46%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.features img {
  width: 100%;
}
.features p {
  margin: 20px 0;

  color: #727272;

  font-weight: 400;
  font-size: 16px;
}
.features h2 {
  color: black;

  font-weight: 500;
  font-size: 45px;
}
.features .qc {
  color: #727272;
}
.features .fe {
  color: #ff900e;
}

/* features res============================================== */

@media screen and (max-width: 600px) {
  .features h2 {
    font-size: 38px;
  }
  .features {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .features .imgs {
    width: 90%;
  }
  .features .txt {
    width: 90%;
    margin-top: 70px;
  }

  .features button {
    border-radius: 6px;
    font-size: 14px;
    width: 120px;
    height: 44px;
  }
}

/* more feature============================================================================================= */

.more {
  display: flex;
  margin: 100px auto;
}
.more .txt {
  width: 50%;
}

.more h2 {
  border-left: 4px solid #ff900e;
  padding: 0 0 0 40px;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 40px;
}

.more p {
  font-weight: 400;
  font-size: 16px;

  color: #727272;
}
.more article:hover {
  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.35);

  background: #fff2e4;
  cursor: pointer;
}

.more article {
  transition: 0.5s;
  padding: 30px;
  margin: 25px 18px;

  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.more h4 {
  margin-bottom: 10px;
}

.more .img .small {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}
.more .img {
  position: relative;
  width: 48%;
}
.more .img .big {
  padding: 40px 45px;
  text-align: center;
  border-radius: 8px;

  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
  position: absolute;
  background-color: #ff900e;
  bottom: -100px;
  left: -100px;
}

/* more res===================================================== */

@media screen and (max-width: 600px) {
  .more .img {
    display: none;
  }
  .more h2 {
    font-size: 38px;
  }
  .more .txt {
    width: 100%;
  }
}

/* facts============================================================================================== */
.facts h3 {
  font-weight: 700;
  font-size: 45px;
}
.facts p {
  margin: 35px 0;
  width: 40%;
  font-weight: 400;
  font-size: 16px;
}

.facts .items {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.facts {
  margin: 80px auto;
}

.facts .items div h6 {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
.facts .items div h4 {
  font-weight: 600;
  font-size: 45px;
  margin: 7px 0;
}
.facts .items div {
  text-align: center;
  border: 2px solid #ff900e;
  border-radius: 8px;
  padding: 40px;
  transition: 0.5s;
}

.facts .items div:hover {
  background: #fff2e4;
  cursor: pointer;

  box-shadow: 1px 0px 10px -2px rgba(0, 0, 0, 0.75);
  color: #ff900e;
}

/* facts res==================================================================================== */

@media screen and (max-width: 600px) {
  .facts .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 3px;
  }
  .facts .items div {
    padding: 20px;
  }

  .facts p {
    width: 100%;
  }

  .facts .items div h6 {
    font-size: 16px;
  }

  .facts .items div h4 {
    font-size: 32px;
  }
  .facts h3 {
    font-size: 38px;
  }
}

/* sponspouer============================================================================================ */
.spn h3 {
  font-weight: 700;
  font-size: 45px;
}
.spn img {
  filter: grayscale();
}
.spn p {
  width: 50%;

  font-weight: 400;
  font-size: 16px;

  color: #727272;

  margin: 20px auto 50px;
}
.spn div {
  display: flex;
  justify-content: space-between;
}
.spn {
  text-align: center;
  margin: 60px auto;
}
/* sponspour res=================================================== */

@media screen and (max-width: 600px) {
  .spn div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 17px;
  }
  .spn h3 {
    font-size: 36px;
  }
  .spn p {
    width: 100%;
  }
  .spn img {
    width: 40%;
    margin: 0 auto;
  }
}
/* footer============================================================================================== */
footer h5 {
  font-weight: 400;
  font-size: 20px;
  padding: 30px 0;

  text-align: center;
  color: #424242;
  background-color: #fff2e4;
}
@media screen and (max-width: 600px) {
  footer h5 {
    font-size: 10px;
  }
}
/* ==extra============================================================================================== */

.extra {
  margin: 80px auto;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.extra div {
  width: 50%;
}
.extra h3 {
  text-align: center;
  margin: 10px 0 40px;
  font-size: 30px;
}

.extra .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.extra input {
  width: 60%;
  height: 30px;
  border: 0;
  margin: 20px 0 20px;
  background-color: transparent;
  border-bottom: 1px solid;
}
.extra button {
  background-color: #ffffff;
  border: 0;
  margin: 50px;
  border-radius: 5px;
  color: #ff8800;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

  padding: 20px 50px;
}

.extra .sub button {
  margin: 0;
}

.extra .sub input {
  margin: 30px 0 30px 20px;
}
.extra .sub {
  border-left: 2px solid;
  padding: 20px;
}
.extra textarea {
  width: 100%;
  height: 80px;
}

.extra .sub button {
  margin-top: 30px;
}

/* extra res==================================================================================== */

@media screen and (max-width: 600px) {
  .extra {
    flex-direction: column;
  }
  .extra div {
    width: 100%;
  }
  
.extra .sub {
    border-top: 2px solid;
    border-left: 0;
    padding: 20px;
  }
}
